<p id="notice"><%= notice %></p>

<h1>Raw Materials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Log</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @raw_materials.each do |raw_material| %>
      <tr>
        <td><%= raw_material.name %></td>
        <td><%= raw_material.quantity %></td>
        <td><%= raw_material.log %></td>
        <td><%= link_to 'Show', raw_material %></td>
        <td><%= link_to 'Edit', edit_raw_material_path(raw_material) %></td>
        <td><%= link_to 'Destroy', raw_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Raw Material', new_raw_material_path %>
<br><br>
<%= link_to 'Registrar venda Caixa OPGW', sell_opgw_box_path, method: :patch %>


