<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @raw_material.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @raw_material.quantity %>
</p>

<p>
  <strong>Log:</strong>
  <%= @raw_material.log %>
</p>

<%= link_to 'Edit', edit_raw_material_path(@raw_material) %> |
<%= link_to 'Back', raw_materials_path %>
